# ======================
# Dependencies
# ======================
node_modules/

# ======================
# Build output
# ======================
# dist/

# ======================
# Environment files
# ======================
# config/
# .env
# .env.*
# config/.env.dev
# config/.env.prod
# ======================
# Uploads (user files)
# ======================
uploads/

# ======================
# Logs
# ======================
*.log

# ======================
# TypeScript
# ======================
*.tsbuildinfo

# ======================
# IDE
# ======================
.vscode/
.idea/